;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[com.github.pkpkpk/cljs-node-io "2.0.339"]
  [funcool/promesa "11.0.678"]]

 :builds
 {:init {:target :browser
         :modules {:init {}}}
  :main {:target :node-script
         :main main/main
         :output-to "main.js"}}}
